First install the Squall repository from github and place this notebook in the directory

# IMPORTS

In [121]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Squall Dataset

In [122]:
# Read the JSON file
with open('data/squall.json', 'r') as f:
    data = json.load(f)

# Convert JSON to DataFrame
df = pd.DataFrame(data)

In [123]:
# Different columns of the squall dataset (More info about the columns can be found at: https://github.com/tzshi/squall)
print(df.columns)

Index(['nt', 'columns', 'nl', 'nl_pos', 'nl_ner', 'nl_ralign', 'nl_typebio',
       'nl_typebio_col', 'nl_incolumns', 'nl_incells', 'columns_innl', 'tgt',
       'tbl', 'sql', 'align'],
      dtype='object')

In [124]:
# First 5 table ids
print(df['tbl'].head(5))

0    203_447
1    203_447
2    203_447
3    203_447
4    203_447
Name: tbl, dtype: object

# PREPROCESSING SQUALL DATASET

Since the SQL queries and natural language questions are formatted as nested lists we need to concatenate them to make them more readable/easier to process

In [125]:
def flatten_sql(sql_tokens):
    return " ".join([token[1] for token in sql_tokens])

# Adds new 'flattened_sql column to the dataset
df['flattened_sql'] = df['sql'].apply(flatten_sql)

In [126]:
# Set pandas display option to show full column width
pd.set_option('display.max_colwidth', None)

# First five SQL queries
print(df['flattened_sql'].head(5))

0    select ( select c5_number from w where c1_number = 1 ) - ( select c5_number from w where c1_number = 2 )
1                                                                         select count ( distinct c1 ) from w
2          select c2 from w where id = ( select id from w where c2 = 'atacama' order by id desc limit 1 ) + 1
3                                                                select c4 from w where c3 = 'jaime quintana'
4                                                                   select c2 from w order by id desc limit 1
Name: flattened_sql, dtype: object

We do the same for the natural language questions

In [127]:
def flatten_nl(nl_tokens):
    # Join the tokens into a single string
    return " ".join(nl_tokens)

# Apply the function to the 'nl' column
df['flattened_nl'] = df['nl'].apply(flatten_nl)

In [128]:
# First five SQL queries
print(df['flattened_nl'].head(5))

0    what is the difference in years between constiuency 1 and 2 ?
1                     what is the total number of constituencies ?
2                           which region is listed below atacama ?
3                       which party did jaime quintana belong to ?
4                    what is the last region listed on the table ?
Name: flattened_nl, dtype: object

# CREATING OPERATOR DATASETS

We now filter the dataset to obtain datasets for each SQL operator where we do not allow multiple (mathematical) SQL operators to be in the same query

In [129]:
sql_operators = {
    'sum', 'max', 'avg', 'min', 'count',   
}

# Initialize a dictionary to store DataFrames for each operator
operator_dfs = {}

# Iterate through each operator and create a DataFrame for each
for operator in sql_operators:
    # Filter the original DataFrame for rows containing the operator in 'flattened_sql'
    operator_df = df[df['flattened_sql'].str.contains(r'\b' + operator + r'\b', case=False, na=False)]
    
    # Further filter to ensure that the query contains only this operator
    # This is done by checking that no other operators are present in the query
    # for other_operator in sql_operators - {operator}:
    #     operator_df = operator_df[~operator_df['flattened_sql'].str.contains(r'\b' + other_operator + r'\b', case=False, na=False)]
    
    # Store the DataFrame in the dictionary with the operator as the key
    operator_dfs[operator] = operator_df

# Print the number of rows for each operator DataFrame
for operator, operator_df in operator_dfs.items():
    print(f"DataFrame for operator '{operator}': {len(operator_df)} rows")

DataFrame for operator 'count': 3728 rows
DataFrame for operator 'sum': 279 rows
DataFrame for operator 'min': 210 rows
DataFrame for operator 'avg': 51 rows
DataFrame for operator 'max': 234 rows

# Matching with the SQL dataset

Now copy the pristine-unseen-tables.tsv and random-split-1-dev.tsv files from the SQA dataset and put them in the squall directory. These are the test and validation sets for SQA used in TAPEX

We load the dev and test files into dataframes

In [130]:
import pandas as pd

# Load the TSV file into a DataFrame, skipping bad lines
validation_file_path = 'random-split-1-dev.tsv'  # Adjust the path as necessary
val_df = pd.read_csv(validation_file_path, sep='\t', on_bad_lines='skip')
print(f"Validation DataFrame rows: {val_df.shape[0]}")

test_file_path = 'pristine-unseen-tables.tsv'  # Adjust the path as necessary
test_df = pd.read_csv(test_file_path, sep='\t')
print(f"Test DataFrame rows: {val_df.shape[0]}")

train_file_path = 'random-split-1-train.tsv'  # Adjust the path as necessary
train_df = pd.read_csv(train_file_path, sep='\t')
print(f"Test DataFrame rows: {train_df.shape[0]}")

Validation DataFrame rows: 2831
Test DataFrame rows: 2831
Test DataFrame rows: 11321

In [131]:
# Different columns of the datasets
print(test_df.columns)

Index(['id', 'utterance', 'context', 'targetValue'], dtype='object')

In [132]:
# Printing the first 5 table id's
print(test_df['context'].head(5))

0    csv/203-csv/733.csv
1    csv/204-csv/149.csv
2    csv/203-csv/435.csv
3    csv/204-csv/803.csv
4    csv/204-csv/272.csv
Name: context, dtype: object

Since the table id's are different from the squall dataset we create a new id column that uses the same id format as squall

In [133]:
test_df['tbl'] = test_df['context'].str.replace('csv/', '').str.replace('.csv', '').str.replace('-', '_', regex=False)
val_df['tbl'] = val_df['context'].str.replace('csv/', '').str.replace('.csv', '').str.replace('-', '_', regex=False)
train_df['tbl'] = train_df['context'].str.replace('csv/', '').str.replace('.csv', '').str.replace('-', '_', regex=False)

# Printing the first 5 table id's
print(test_df['tbl'].head(5))

0    203_733
1    204_149
2    203_435
3    204_803
4    204_272
Name: tbl, dtype: object

Let's check for a random operator, the number of matches with the dev, train or test set

In [134]:
# Select a specific operator DataFrame (for example, 'sum')
operator = 'count'  # Change this to the operator you want to analyze
operator_df = operator_dfs[operator]  # Assuming operator_dfs is already defined

# Lowercase the 'flattened_nl' column for comparison
operator_df['flattened_nl_lower'] = operator_df['flattened_nl'].str.lower()

# Lowercase the 'utterance' columns in both test and validation DataFrames
test_df['utterance_lower'] = test_df['utterance'].str.lower()
val_df['utterance_lower'] = val_df['utterance'].str.lower()
train_df['utterance_lower'] = train_df['utterance'].str.lower()


# Compare the 'flattened_nl' column with the 'utterance' column in the test DataFrame
matches_test = operator_df[operator_df['flattened_nl_lower'].isin(test_df['utterance_lower'])]

# Print the results for the test DataFrame
print(f"Matching 'flattened_nl' values for operator '{operator}' in test set:")
print(matches_test[['flattened_nl']])  # Adjust the columns to display as needed
print(f"Number of matches in test set: {len(matches_test)}")

# Compare the 'flattened_nl' column with the 'utterance' column in the validation DataFrame
matches_val = operator_df[operator_df['flattened_nl_lower'].isin(val_df['utterance_lower'])]

# Print the results for the validation DataFrame
print(f"Matching 'flattened_nl' values for operator '{operator}' in validation set:")
print(matches_val[['flattened_nl']])  # Adjust the columns to display as needed
print(f"Number of matches in validation set: {len(matches_val)}")

# Compare the 'flattened_nl' column with the 'utterance' column in the validation DataFrame
matches_train = operator_df[operator_df['flattened_nl_lower'].isin(train_df['utterance_lower'])]

# Print the results for the validation DataFrame
print(f"Matching 'flattened_nl' values for operator '{operator}' in validation set:")
print(matches_train[['flattened_nl']])  # Adjust the columns to display as needed
print(f"Number of matches in validation set: {len(matches_train)}")

Matching 'flattened_nl' values for operator 'count' in test set:
Empty DataFrame
Columns: [flattened_nl]
Index: []
Number of matches in test set: 0
Matching 'flattened_nl' values for operator 'count' in validation set:
                                                        flattened_nl
387                                   number of teams above 9 medals
1720                                 how many dates are on the chart
1722   in how many games were than more than 80,000 people attending
2345           total number of members from lawton and oklahoma city
2657                                            total number of wins
3071                                            total number of wins
4068                   number of different teams listed on the chart
4209                            what is the total years on the chart
5008                 what is the number of titles ken harden has one
5213                                     how many gold did u.s.a win
7626                              what is the number of away games ?
8503                      how many times total did they finish first
8505                              how many years were they in tier 3
9171               how many of these buildings were built after 1975
9226                       how many portions are lo?cated in netanya
9475      what is the number of games played in teh 2010-2011 season
10015                               games above 30,000 in attendance
10271       how many provinces have pashto as one of their languages
10503                  how many swimmers had a time of at least 1:00
Number of matches in validation set: 19
Matching 'flattened_nl' values for operator 'count' in validation set:
                                                                     flattened_nl
192    what is the total number of countries in this preliminary qualifying round
570                               number of teams not to win a match in first leg
646                                          builder that has the most experience
795                                               how many draws are on the chart
845                                number of nations that earned no bronze medals
...                                                                           ...
10941                             which is the least region charted on this chart
10990            number of mocho cota matches held in mexico city in 1983 or 1984
11042                                  total number of players drafted in round 1
11144                                      how many players are below tiger woods
11145                        how many players were ranked on top of darren clarke

[95 rows x 1 columns]
Number of matches in validation set: 95

/var/folders/s_/1tg6zl197tzbfn_czq7vd7sw0000gn/T/ipykernel_21984/3094609716.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  operator_df['flattened_nl_lower'] = operator_df['flattened_nl'].str.lower()

Let's try it with question id's instead

In [135]:
# Adding nt column to data partitions

sql_operators = {
    'sum', 'max', 'avg', 'min', 'count',   
}

test_df['nt'] = test_df['id']
val_df['nt'] = val_df['id']
train_df['nt'] = train_df['id']

operator_dfs_filtered = {}

for operator in sql_operators: 
    
    print(f"operator: {operator}")
    
    operator_df = operator_dfs[operator]
    print(f"operator count in squall dataset: {operator_df.shape[0]}")


    # Checking matching id's with count df
    # id_matches_train = operator_df[operator_df['nt'].isin(train_df['nt'])]
    # id_matches_test = operator_df[operator_df['nt'].isin(test_df['nt'])]
    id_matches_val = val_df[val_df['nt'].isin(operator_df['nt'])]
    
    operator_df_filtered = val_df[val_df['nt'].isin(operator_df['nt'])]
    operator_dfs_filtered[operator] = operator_df_filtered
        
    # operator_dfs_filtered[operator] = operator_df.. 

    # Printing the number of matches in each set
    # print(f"Number of matches in train set: {len(id_matches_train)}")
    # print(f"Number of matches in test set: {len(id_matches_test)}")
    print(f"Number of matches in validation set: {len(id_matches_val)}")
    # print("-----------------------------------")

operator: count
operator count in squall dataset: 3728
Number of matches in validation set: 711
operator: sum
operator count in squall dataset: 279
Number of matches in validation set: 57
operator: min
operator count in squall dataset: 210
Number of matches in validation set: 30
operator: avg
operator count in squall dataset: 51
Number of matches in validation set: 10
operator: max
operator count in squall dataset: 234
Number of matches in validation set: 36

In [120]:
columns_to_drop = ['tbl', 'utterance_lower', 'nt']  # Replace with the actual columns you want to drop

for operator in sql_operators: 
    filtered_df = operator_dfs_filtered[operator].drop(columns=columns_to_drop, errors='ignore')
    filtered_df.to_csv(f'filtered_datasets/{operator}_filtered_split-1-dev.tsv', sep='\t', index=False)

In [118]:
import pandas as pd

# Function to filter examples
def filter_examples_by_ids(example_file, id_list, output_file):
    filtered_lines = []
    
    with open(example_file, 'r') as file:
        for line in file:
            if any(f"(id {id_})" in line for id_ in id_list):
                filtered_lines.append(line)
    
    # Write the filtered lines to the new file
    with open(output_file, 'w') as file:
        file.writelines(filtered_lines)
    
    print(f"Filtered examples saved to {output_file}")

# Path to your original .examples file
original_examples_file = 'random-split-1-dev.examples'

# Iterate over each operator and filter examples
for operator, operator_df in operator_dfs_filtered.items():
    id_list = operator_df['nt'].tolist()  # Get the list of IDs from the DataFrame
    output_file = f"filtered_datasets/{operator}_filtered_split-1-dev.examples"  # Output file name
    
    # Filter the .examples file and save
    filter_examples_by_ids(original_examples_file, id_list, output_file)

Filtered examples saved to filtered_datasets/count_filtered_split-1-dev.examples
Filtered examples saved to filtered_datasets/sum_filtered_split-1-dev.examples
Filtered examples saved to filtered_datasets/min_filtered_split-1-dev.examples
Filtered examples saved to filtered_datasets/avg_filtered_split-1-dev.examples
Filtered examples saved to filtered_datasets/max_filtered_split-1-dev.examples

In [102]:
operator_dfs_filtered['avg']

,nt,columns,nl,nl_pos,nl_ner,nl_ralign,nl_typebio,nl_typebio_col,nl_incolumns,nl_incells,columns_innl,tgt,tbl,sql,align,flattened_sql,flattened_nl
2542,nt-2263,"[[year, [year], [number], number, 1997], [single, [single], [first, second], text(text), ""dopeman"" (remix)], [peak chart positions\nus mod, [peak, chart, positions, us, mod], [number], number, 39], [peak chart positions\nuk, [peak, chart, positions, uk], [number], number, 51], [album, [album], [], text, losing streak]]","[what, was, the, average, chart, position, of, their, singles, in, the, uk, ?]","[WP, VBD-AUX, DT, JJ, NN, NN, IN, PRP$, NNS, IN, DT, NNP, .]","[O, O, O, O, O, O, O, O, O, O, O, LOCATION, O]","[[None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Column, c4_number], [Column, c4_number], [None, None], [None, None], [None, None], [Column, c4_number], [Column, c4_number], [Column, c4_number], [None, None]]","[O, O, O, B-Keyword, B-Column, I-Column, O, O, O, B-Column, I-Column, I-Column, O]","[None, None, None, None, c4, c4, None, None, None, c4, c4, c4, None]","[False, False, False, False, True, False, False, False, False, False, False, True, False]","[False, False, True, False, False, False, True, False, False, True, True, False, True]","[False, False, True, True, False]",60.5,203_661,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c4_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []]]","[[[3], [1, 4, 2]], [[4, 5, 9, 10, 11], [3]]]",select avg ( c4_number ) from w,what was the average chart position of their singles in the uk ?
4873,nt-1569,"[[name, [name], [], text, ned barkas], [nation, [nation], [], text, england], [position, [position], [], text, df], [league apps, [league, apps], [number], number, 4], [league goals, [league, goals], [number], number, 0], [fa cup apps, [fa, cup, apps], [number], number, 0], [fa cup goals, [fa, cup, goals], [number], number, 0], [total apps, [total, apps], [number], number, 4], [total goals, [total, goals], [number], number, 0]]","[what, is, the, average, number, of, scotland, 's, total, apps, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, NNP, POS, JJ, NNS, .]","[O, O, O, O, O, O, LOCATION, O, O, O, O]","[[None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Literal, None], [None, None], [Column, c8_number], [Column, c8_number], [None, None]]","[O, O, B-Keyword, I-Keyword, I-Keyword, I-Keyword, B-String, O, B-Column, I-Column, O]","[None, None, None, None, None, None, c2, None, c8, c8, None]","[False, False, False, False, False, False, False, False, True, True, False]","[False, False, False, False, False, False, True, False, False, False, False]","[False, False, False, True, False, True, False, True, True]",15.5,204_159,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c8_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Column, c2, []], [Keyword, =, []], [Literal.String, 'scotland', [6, 6]]]","[[[3, 2, 4, 5], [1, 2, 4]], [[8, 9], [3]], [[6], [10]]]",select avg ( c8_number ) from w where c2 = 'scotland',what is the average number of scotland 's total apps ?
4879,nt-13040,"[[name, [name], [], text, ned barkas], [nation, [nation], [], text, england], [position, [position], [], text, df], [league apps, [league, apps], [number], number, 4], [league goals, [league, goals], [number], number, 0], [fa cup apps, [fa, cup, apps], [number], number, 0], [fa cup goals, [fa, cup, goals], [number], number, 0], [total apps, [total, apps], [number], number, 4], [total goals, [total, goals], [number], number, 0]]","[average, number, of, goals, scored, by, players, from, scotland]","[JJ, NN, IN, NNS, VBN, IN, NNS, IN, NNP]","[O, O, O, O, O, O, O, O, LOCATION]","[[Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Column, c9_number], [None, None], [None, None], [None, None], [Column, c2], [Literal, None]]","[B-Keyword, I-Keyword, I-Keyword, B-Column, O, O, O, B-Column, B-String]","[None, None, None, c9, None, None, None, c2, c2]","[False, False, False, True, False, False, False, False, False]","[False, False, False, False, False, False, False, False, True]","[False, False, False, False, True, False, True, False, True]",1,204_159,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c9_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Column, c2, []], [Keyword, =, []], [Literal.String, 'scotland', [8, 8]]]","[[[1, 0, 2], [1, 2, 4]], [[3], [3]], [[8], [10]], [[7], [8]]]",select avg ( c9_number ) from w where c2 = 'scotland',average number of goals scored by players from scotland
6256,nt-9828,"[[network name, [network, name], [], text, canal de las estrellas], [flagship, [flagship], [], text, xew 2], [programming type, [programming, type], [list, length], <ca,text>, soap operas, retro movies and sports], [owner, [owner], [], text, televisa], [affiliates, [affiliates], [number], number, 1]]","[what, is, the, average, number, of, affiliates, that, a, given, network, will, have, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, NNS, IN, DT, VBN, NN, VBD-AUX, VBD-AUX, .]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O]","[[None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [None, None], [Column, c5_number], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None]]","[O, O, B-Keyword, I-Keyword, I-Keyword, O, B-Column, O, O, O, O, O, O, O]","[None, None, None, None, None, None, c5, None, None, None, None, None, None, None]","[False, False, False, False, False, False, True, False, False, False, True, False, False, False]","[False, False, False, False, False, False, False, False, False, False, False, False, False, False]","[True, False, False, False, True]",1,204_779,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c5_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []]]","[[[6], [3]], [[3, 2, 4], [1, 2, 4]]]",select avg ( c5_number ) from w,what is the average number of affiliates that a given network will have ?
7053,nt-4255,"[[#, [#], [number], number, 1], [name, [name], [], text, aaron johnson], [height, [height], [number], unitnum, 5'8""], [weight (lbs.), [weight, -lrb-, lbs, ., -rrb-], [number], number, 185], [position, [position], [], text, g], [class, [class], [], text, sr], [hometown, [hometown], [address], address, chicago, il, u.s], [previous team(s), [previous, team, -lrb-, s, -rrb-], [list, length], <n,text>, hubbard hs]]","[what, is, the, average, weight, of, jamarr, sanders, and, robert, williams, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, NNP, NNP, CC, NNP, NNP, .]","[O, O, O, O, O, O, PERSON, PERSON, O, PERSON, PERSON, O]","[[None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Column, c4_number], [None, None], [Literal, None], [Literal, None], [Keyword, [conj, conj_or]], [Literal, None], [Literal, None], [None, None]]","[O, O, O, B-Keyword, B-Column, O, B-String, I-String, B-Keyword, B-String, I-String, O]","[None, None, None, None, c4, None, c2, c2, None, c2, c2, None]","[False, False, False, False, True, False, False, False, False, False, False, False]","[False, False, False, False, False, False, True, True, False, True, True, False]","[False, False, False, True, False, False, False, False]",210,204_534,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c4_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Column, c2, []], [Keyword, in, []], [Keyword, (, []], [Literal.String, 'jamarr sanders', [6, 7]], [Keyword, ,, []], [Literal.String, 'robert williams', [9, 10]], [Keyword, ), []]]","[[[3], [2, 1, 4]], [[4], [3]], [[6, 7], [11]], [[9, 10], [13]], [[8], [12, 10, 9, 14]]]","select avg ( c4_number ) from w where c2 in ( 'jamarr sanders' , 'robert williams' )",what is the average weight of jamarr sanders and robert williams ?
7603,nt-13606,"[[rank, [rank], [number], number, 1], [city, [city], [address], address, united states, los angeles], [passengers, [passengers], [number], number, 14749], [ranking, [ranking], [number], number, 4], [airline, [airline], [list, length], <c, text>, alaska airlines]]","[what, is, the, average, number, of, passengers, in, the, united, states, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, NNS, IN, DT, NNP, NNPS, .]","[O, O, O, O, O, O, O, O, O, LOCATION, LOCATION, O]","[[None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [None, None], [Column, c3_number], [Column, c2_address], [None, None], [Literal, None], [Literal, None], [None, None]]","[O, O, B-Keyword, I-Keyword, I-Keyword, O, B-Column, B-Column, O, B-String, I-String, O]","[None, None, None, None, None, None, c3, c2, None, c2_address, c2_address, None]","[False, False, False, False, False, False, True, False, False, False, False, False]","[False, False, False, False, False, False, False, False, False, True, True, False]","[False, False, True, False, False]",5537.5,203_515,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c3_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Column, c2_address, []], [Keyword, =, []], [Literal.String, 'united states', [9, 10]]]","[[[2, 3, 4], [1, 2, 4]], [[6], [3]], [[9, 10], [10]], [[7], [8]]]",select avg ( c3_number ) from w where c2_address = 'united states',what is the average number of passengers in the united states ?
9263,nt-10936,"[[rank, [rank], [number], number, 4], [name, [name], [], text, huang qiuyan], [nationality, [nationality], [], text, china], [result, [result], [number], number, 14.39], [notes, [notes], [], text, sb]]","[what, was, the, average, result, of, the, top, three, jumpers, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, DT, JJ, CD, NNS, .]","[O, O, O, O, O, O, O, O, NUMBER, O, O]","[[None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Column, c4_number], [None, None], [Keyword, [comp, comp_lequal]], [Keyword, [comp, comp_lequal]], [Literal, None], [None, None], [None, None]]","[O, O, O, B-Keyword, B-Column, O, B-Keyword, I-Keyword, Number, O, O]","[None, None, None, None, c4, None, None, None, None, None, None]","[False, False, False, False, True, False, False, False, False, False, False]","[False, False, False, False, False, False, False, False, False, False, False]","[False, False, False, True, False]",14.08,204_910,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c4_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Keyword, id, []], [Keyword, <=, []], [Literal.Number, 3, [8]]]","[[[3], [1, 2, 4]], [[4], [3]], [[7, 6], [8, 9]], [[8], [10]]]",select avg ( c4_number ) from w where id <= 3,what was the average result of the top three jumpers ?
10292,nt-6411,"[[year, [year], [number], number, 2001], [team, [team], [], text, cin], [games, [games], [number], number, 15], [combined tackles, [combined, tackles], [number], number, 53], [tackles, [tackles], [number], number, 41], [assisted tackles, [assisted, tackles], [number], number, 12], [sacks, [sacks], [number], number, 8.5], [forced fumbles, [forced, fumbles], [number], number, 0], [fumble recoveries, [fumble, recoveries], [number], number, 0], [fumble return yards, [fumble, return, yards], [number], number, 0], [interceptions, [interceptions], [number], number, 2], [interception return yards, [interception, return, yards], [number], number, 28], [yards per interception return, [yards, per, interception, return], [number], number, 14], [longest interception return, [longest, interception, return], [number], number, 21], [interceptions returned for touchdown, [interceptions, returned, for, touchdown], [number], number, 0], [passes defended, [passes, defended], [number], number, 5]]","[what, is, the, average, number, of, tackles, this, player, has, had, over, his, career, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, VBZ, DT, NN, VBD-AUX, VBD-AUX, IN, PRP$, NN, .]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]","[[None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Column, c5_number], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None]]","[O, O, O, B-Keyword, I-Keyword, I-Keyword, B-Column, O, O, O, O, O, O, O, O]","[None, None, None, None, None, None, c5, None, None, None, None, None, None, None, None]","[False, False, False, False, False, False, True, False, False, False, False, False, False, False, False]","[False, False, False, False, False, False, False, False, False, False, False, False, False, True, False]","[False, False, False, True, True, True, False, False, False, False, False, False, False, False, False, False]",45,204_756,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c5_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []]]","[[[3, 4, 5], [1, 2, 4]], [[6], [3]]]",select avg ( c5_number ) from w,what is the average number of tackles this player has had over his career ?
10874,nt-4885,"[[rank, [rank], [number], number, 1], [nation, [nation], [], text, united states], [gold, [gold], [number], number, 5], [silver, [silver], [number], number, 6], [bronze, [bronze], [number], number, 5], [total, [total], [number], number, 16]]","[what, is, the, average, number, of, gold, medals, won, by, the, top, 5, nations, ?]","[WP, VBD-AUX, DT, JJ, NN, IN, NN, NNS, VBN, IN, DT, JJ, CD, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O, O, NUMBER, O, O]","[[None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Column, c3_number], [None, None], [None, None], [None, None], [Column, c1_number], [Column, c1_number], [Literal, None], [None, None], [None, None]]","[O, O, O, B-Keyword, I-Keyword, I-Keyword, B-Column, O, O, O, B-Column, I-Column, Number, O, O]","[None, None, None, None, None, None, c3, None, None, None, c1, c1, c1_number, None, None]","[False, False, False, False, False, False, True, False, False, False, False, False, False, False, False]","[False, False, False, False, False, False, False, False, False, False, False, False, True, False, False]","[False, False, True, False, False, False]",2.6,204_595,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c3_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []], [Keyword, where, []], [Column, c1_number, []], [Keyword, <=, []], [Literal.Number, 5, [12]]]","[[[3, 4, 5], [1, 2, 4]], [[12], [10]], [[6], [3]], [[10, 11], [8, 9]]]",select avg ( c3_number ) from w where c1_number <= 5,what is the average number of gold medals won by the top 5 nations ?
11027,nt-6116,"[[rank, [rank], [number], number, 1], [airport, [airport], [list, length], <d, text>, netherlands - amsterdam], [passengers handled, [passengers, handled], [number], number, 105349], [% change 2011 / 12, [%, change, 2011, \\/, 12], [number], number, 1128]]","[looking, at, the, top, 10, busiest, routes, to, and, from, london, southend, airport, what, is, the, average, number, of, passengers, handled, ?]","[VBG, IN, DT, JJ, CD, JJS, NNS, TO, CC, IN, NNP, NNP, NNP, WP, VBD-AUX, DT, JJ, NN, IN, NNS, VBN, .]","[O, O, O, O, NUMBER, O, O, O, O, O, LOCATION, O, O, O, O, O, O, O, O, O, O, O]","[[None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Keyword, [agg, agg_avg]], [Column, c3_number], [Column, c3_number], [None, None]]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-Keyword, I-Keyword, I-Keyword, B-Column, I-Column, O]","[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, c3, c3, None]","[False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, True, True, False]","[False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]","[False, True, True, False]","58,967.5",203_340,"[[Keyword, select, []], [Keyword, avg, []], [Keyword, (, []], [Column, c3_number, []], [Keyword, ), []], [Keyword, from, []], [Keyword, w, []]]","[[[16, 17, 18], [1, 2, 4]], [[19, 20], [3]]]",select avg ( c3_number ) from w,looking at the top 10 busiest routes to and from london southend airport what is the average number of passengers handled ?

# Finding matching IDs for different datasets

In [70]:
# test_df, val_df, df 
# formatted_context 
# print(test_df['tbl'].head())
# print(df['tbl'].head())


test_tables_set = set(test_df['tbl'])
val_tables_set = set(val_df['tbl'])
train_tables_set = set(train_df['tbl'])

squall_tables_set = set(df['tbl'])

print(f"Number of different table ids in squall_tables_set {len(squall_tables_set)}")

print(f"Number of different table ids in val_tables_set {len(val_tables_set)}")
print(f"Number of different table ids in test_tables_set {len(test_tables_set)}\n")
print(f"Number of different table ids in train_tables_set {len(train_tables_set)}\n")



matching_test_tables = squall_tables_set.intersection(test_tables_set)
matching_val_tables = squall_tables_set.intersection(val_tables_set)
matching_train_tables = squall_tables_set.intersection(train_tables_set)

print(f"Matching tables between Squall dataset and test set: {matching_test_tables}")
print(f"Number of matching tables in Squall dataset with test set: {len(matching_test_tables)}\n")

print(f"Matching tables between Squall dataset and validation set: {matching_val_tables}")
print(f"Number of matching tables in Squall dataset with validation set {len(matching_val_tables)}\n")

print(f"Matching tables between Squall dataset and train set: {matching_train_tables}")
print(f"Number of matching tables between Squall dataset and train set {len(matching_train_tables)}")

Number of different table ids in squall_tables_set 1617
Number of different table ids in val_tables_set 346
Number of different table ids in test_tables_set 421

Number of different table ids in train_tables_set 1333

Matching tables between Squall dataset and test set: set()
Number of matching tables in Squall dataset with test set: 0

Matching tables between Squall dataset and validation set: {'203_509', '203_213', '201_28', '204_966', '200_25', '204_600', '203_501', '203_337', '204_942', '204_634', '203_127', '202_22', '204_698', '204_105', '203_370', '202_32', '203_104', '204_704', '204_171', '202_115', '203_456', '203_343', '203_355', '203_105', '203_654', '203_783', '204_772', '204_784', '204_601', '204_626', '203_390', '204_168', '202_240', '204_976', '203_775', '204_965', '201_40', '204_453', '204_643', '204_205', '204_552', '204_74', '201_36', '204_752', '204_564', '204_159', '203_702', '204_235', '203_721', '204_834', '203_862', '204_75', '204_455', '203_313', '204_929', '204_737', '203_216', '203_153', '204_388', '202_76', '201_38', '204_342', '204_88', '201_15', '204_164', '204_558', '204_250', '203_665', '202_28', '203_175', '203_20', '204_317', '204_534', '203_429', '204_681', '204_664', '204_666', '203_876', '203_476', '204_716', '204_791', '202_125', '204_451', '203_461', '202_205', '203_332', '204_949', '201_43', '204_883', '204_756', '203_457', '203_812', '203_564', '202_233', '203_837', '204_286', '204_395', '203_359', '204_426', '203_248', '204_944', '203_407', '201_2', '204_68', '204_884', '204_30', '202_102', '204_620', '203_778', '203_450', '203_401', '204_476', '203_518', '204_169', '203_836', '203_857', '204_910', '202_226', '202_176', '204_796', '203_38', '204_783', '204_595', '203_108', '204_768', '204_886', '203_507', '203_42', '202_191', '200_7', '204_668', '204_1', '204_61', '203_750', '204_903', '204_607', '204_85', '204_739', '204_18', '203_56', '203_273', '203_362', '204_496', '204_352', '204_128', '203_621', '203_285', '204_694', '204_814', '204_237', '203_364', '203_165', '204_257', '203_630', '203_631', '204_743', '203_276', '202_271', '203_320', '203_587', '202_202', '204_19', '202_200', '202_250', '204_872', '204_6', '201_27', '204_25', '202_72', '200_38', '203_549', '203_475', '203_864', '204_336', '204_158', '203_115', '204_396', '201_13', '204_153', '203_497', '204_267', '203_200', '203_70', '204_616', '204_345', '204_779', '204_625', '203_519', '202_232', '204_808', '204_832', '203_747', '203_22', '204_109', '204_835', '204_624', '203_352', '204_59', '203_98', '204_828', '202_83', '203_76', '204_384', '204_706', '204_244', '203_787', '200_12', '203_55', '203_637', '203_222', '203_485', '203_340', '203_88', '204_423', '204_23', '203_560', '203_848', '204_482', '204_712', '203_515', '204_323', '203_292', '203_769', '204_740', '203_316', '204_220', '203_321', '204_154', '204_421', '203_648', '204_401', '203_197', '204_526', '204_397', '204_38', '203_609', '204_751', '204_104', '203_554', '204_983', '204_930', '203_91', '204_214', '204_786', '204_660', '203_357', '204_724', '203_667', '204_839', '204_969', '204_952', '204_609', '203_735', '203_412', '204_897', '202_114', '203_466', '204_151', '203_250', '204_533', '204_194', '203_376', '204_917', '203_486', '203_234', '204_974', '204_148', '204_219', '204_579', '203_262', '203_874', '203_703', '204_489', '204_470', '204_968', '203_661', '204_964', '203_214', '204_206', '203_333', '204_960', '204_861', '203_116', '203_713', '204_292', '203_151', '204_302', '201_48', '203_302', '203_788', '204_811', '203_529', '203_231', '204_156', '204_642', '203_339', '203_551', '204_111', '203_375', '204_117', '204_913', '203_299', '203_525', '204_659', '204_703', '203_447', '203_563', '203_82', '204_760', '203_99', '203_537', '203_19', '203_219', '203_767', '203_305', '203_460', '203_377', '204_338', '204_963', '203_54', '204_684', '202_45', '203_528', '201_14', '204_94', '204_371', '200_32', '203_711', '204_265', '203_784', '204_281', '203_764', '204_568'}
Number of matching tables in Squall dataset with validation set 333

Matching tables between Squall dataset and train set: {'203_393', '204_402', '203_5', '204_26', '204_603', '204_710', '204_687', '204_539', '204_841', '203_469', '203_612', '203_524', '204_575', '203_834', '204_906', '203_618', '204_804', '203_356', '203_347', '200_14', '204_599', '204_790', '203_154', '203_573', '203_710', '203_368', '203_253', '204_911', '203_13', '204_177', '204_284', '204_3', '204_354', '204_928', '203_695', '203_574', '204_584', '203_634', '203_789', '203_117', '203_644', '203_773', '203_698', '204_328', '203_195', '203_749', '203_118', '204_840', '203_691', '203_712', '204_996', '203_138', '203_24', '204_387', '203_378', '204_7', '200_47', '202_286', '204_713', '204_582', '203_720', '204_102', '204_279', '204_261', '203_135', '203_854', '204_228', '204_32', '204_176', '203_842', '204_959', '204_55', '203_830', '203_473', '204_820', '204_343', '204_637', '203_865', '202_208', '204_273', '204_971', '203_610', '204_878', '204_132', '203_770', '203_565', '204_225', '204_894', '203_673', '204_392', '204_183', '203_627', '204_175', '204_242', '203_90', '204_299', '204_780', '204_866', '203_1', '203_405', '204_278', '204_252', '203_536', '204_853', '204_865', '204_554', '203_547', '204_162', '203_594', '204_229', '204_84', '204_799', '204_543', '204_414', '203_484', '202_143', '203_206', '204_678', '204_824', '203_421', '204_466', '204_863', '204_557', '204_416', '204_725', '203_832', '204_774', '204_143', '204_805', '204_243', '203_323', '203_674', '204_425', '204_24', '203_281', '203_583', '203_354', '203_535', '203_3', '202_67', '204_792', '203_543', '204_473', '204_782', '203_426', '203_741', '204_449', '204_13', '202_90', '204_41', '204_793', '201_21', '201_25', '203_58', '203_130', '203_209', '204_876', '204_446', '203_532', '204_532', '203_805', '204_314', '204_501', '204_91', '203_394', '203_416', '204_871', '204_685', '202_276', '203_418', '204_920', '204_697', '204_573', '204_106', '204_283', '203_581', '203_242', '203_204', '204_785', '204_231', '202_127', '204_361', '204_350', '203_238', '203_597', '204_555', '204_651', '203_540', '201_31', '203_614', '204_53', '204_307', '203_706', '203_763', '204_428', '204_207', '204_172', '203_555', '203_372', '203_397', '204_469', '204_107', '204_141', '203_125', '204_120', '204_837', '204_918', '203_860', '204_232', '203_7', '203_765', '203_398', '204_699', '203_686', '204_806', '203_345', '203_482', '203_635', '202_178', '204_932', '204_979', '203_237', '203_391', '203_349', '203_440', '204_672', '203_683', '203_93', '204_131', '204_16', '203_404', '203_640', '204_321', '204_54', '204_592', '204_649', '203_330', '203_680', '204_152', '203_141', '204_329', '204_775', '203_843', '203_855', '203_247', '204_374', '203_35', '203_112', '204_14', '203_263', '204_877', '203_136', '204_195', '204_363', '204_693', '204_734', '201_46', '204_435', '204_474', '204_761', '203_322', '203_490', '204_975', '204_119', '203_383', '203_147', '204_650', '202_59', '203_258', '203_576', '204_442', '203_793', '203_699', '203_403', '203_224', '204_628', '203_81', '204_103', '204_78', '204_248', '204_981', '204_721', '204_707', '204_346', '204_386', '203_308', '204_987', '204_180', '200_35', '203_835', '203_620', '204_736', '202_26', '202_75', '203_382', '204_4', '204_191', '204_513', '203_226', '204_530', '204_438', '203_729', '204_340', '203_183', '204_717', '204_556', '204_282', '203_61', '204_631', '204_355', '204_146', '204_9', '204_20', '203_221', '202_239', '204_711', '203_327', '204_255', '204_802', '203_608', '204_849', '204_96', '203_392', '203_123', '204_515', '203_182', '200_1', '204_621', '204_475', '203_745', '204_56', '203_132', '204_813', '204_821', '203_478', '204_277', '203_611', '204_610', '204_170', '203_794', '203_266', '204_334', '203_651', '203_839', '204_763', '203_558', '203_442', '204_879', '204_430', '204_630', '202_52', '204_722', '203_655', '203_595', '203_777', '204_375', '203_724', '204_730', '204_648', '204_459', '204_184', '204_409', '203_158', '204_488', '204_187', '204_81', '203_277', '203_317', '203_30', '204_941', '203_134', '203_202', '203_203', '204_178', '204_982', '203_249', '204_874', '202_281', '203_853', '204_764', '204_992', '203_638', '204_855', '202_160', '203_790', '203_642', '204_614', '204_540', '204_924', '204_838', '203_489', '204_79', '204_938', '204_769', '203_208', '203_506', '203_538', '204_353', '204_320', '203_675', '204_852', '203_400', '203_526', '203_211', '203_46', '202_54', '203_180', '204_696', '203_689', '203_288', '203_622', '204_807', '204_0', '204_441', '204_498', '203_139', '204_57', '204_669', '204_269', '203_760', '204_365', '203_16', '200_31', '204_644', '204_525', '204_902', '203_173', '204_565', '203_14', '203_185', '203_424', '202_12', '203_650', '202_68', '204_70', '202_173', '203_26', '200_17', '204_463', '204_479', '202_137', '204_190', '204_275', '204_308', '204_100', '204_89', '204_198', '204_379', '203_444', '204_673', '204_794', '204_337', '204_471', '204_185', '202_44', '203_817', '204_52', '204_523', '203_142', '203_688', '204_35', '204_161', '204_12', '203_801', '204_484', '204_639', '204_503', '203_365', '203_270', '204_200', '204_940', '203_344', '201_1', '203_601', '204_211', '203_771', '204_49', '202_63', '204_667', '204_950', '203_271', '204_288', '204_238', '203_119', '203_431', '204_147', '204_230', '202_24', '204_854', '203_580', '201_5', '204_490', '203_282', '203_439', '203_252', '203_802', '204_34', '202_253', '204_130', '204_516', '204_125', '204_319', '203_513', '204_850', '204_873', '203_455', '204_364', '203_590', '200_22', '203_672', '202_38', '203_471', '204_389', '203_682', '203_192', '204_745', '204_157', '203_280', '204_468', '204_623', '204_43', '203_67', '203_160', '204_226', '204_310', '204_31', '204_481', '203_176', '204_988', '203_877', '202_222', '204_755', '204_880', '202_211', '203_739', '203_246', '203_759', '204_139', '204_145', '204_553', '203_59', '204_847', '203_420', '203_6', '202_150', '203_815', '203_516', '203_441', '203_79', '204_199', '204_486', '203_875', '203_545', '203_294', '203_133', '204_71', '203_606', '204_915', '202_31', '203_191', '204_163', '204_294', '204_63', '203_257', '203_833', '202_295', '202_251', '201_9', '203_449', '203_751', '204_524', '203_83', '203_530', '204_738', '203_331', '203_300', '204_332', '204_500', '203_171', '204_40', '202_104', '203_660', '204_349', '204_487', '204_263', '204_452', '204_186', '204_11', '204_477', '204_251', '204_110', '204_860', '204_602', '202_117', '202_231', '203_668', '204_108', '203_33', '204_210', '203_814', '203_629', '204_522', '204_945', '204_37', '204_647', '203_797', '203_156', '204_296', '204_778', '204_692', '204_590', '203_467', '202_82', '204_961', '203_78', '203_664', '202_244', '204_403', '204_333', '204_301', '202_157', '203_283', '203_239', '204_536', '203_649', '203_255', '203_502', '204_627', '203_539', '203_615', '204_939', '203_517', '203_716', '204_636', '204_893', '203_505', '204_312', '204_569', '204_256', '204_193', '204_881', '204_997', '203_643', '204_517', '204_508', '204_741', '204_47', '204_33', '203_679', '203_413', '204_295', '203_102', '204_276', '204_60', '204_757', '203_256', '204_293', '203_269', '204_671', '203_851', '204_260', '203_533', '200_15', '203_436', '204_521', '204_439', '204_39', '203_871', '202_283', '204_746', '204_862', '203_451', '204_891', '203_230', '204_563', '204_604', '203_71', '204_589', '204_859', '203_129', '204_28', '204_51', '202_135', '204_44', '202_43', '200_33', '204_765', '203_353', '204_936', '203_859', '204_888', '204_781', '203_254', '204_204', '203_34', '203_872', '203_603', '204_514', '201_10', '203_481', '204_946', '203_756', '203_419', '204_691', '203_396', '203_184', '203_707', '203_114', '204_676', '203_218', '204_680', '204_73', '201_18', '201_44', '204_978', '204_518', '204_912', '204_121', '204_324', '203_718', '204_17', '203_809', '203_69', '203_829', '204_360', '203_106', '204_136', '203_8', '204_629', '203_235', '203_496', '203_240', '204_658', '203_47', '204_450', '204_437', '204_311', '203_757', '202_158', '203_678', '203_374', '202_289', '204_227', '203_534', '203_774', '204_675', '204_188', '203_732', '203_491', '204_341', '201_11', '204_268', '204_234', '203_719', '204_179', '203_717', '204_823', '204_708', '203_561', '202_85', '203_166', '203_161', '204_615', '204_864', '204_15', '204_262', '203_559', '204_383', '203_411', '204_541', '203_193', '203_146', '203_499', '203_84', '203_406', '203_743', '204_885', '204_77', '201_19', '203_186', '204_133', '203_633', '204_101', '203_15', '203_385', '204_240', '204_923', '204_809', '203_498', '204_776', '203_734', '204_985', '204_443', '203_149', '203_289', '203_309', '203_800', '204_845', '203_37', '204_510', '204_90', '203_510', '203_701', '204_239', '204_635', '204_381', '204_683', '202_15', '203_866', '204_690', '204_867', '203_126', '204_663', '204_123', '203_2', '203_465', '204_572', '203_798', '203_780', '203_174', '204_385', '203_652', '203_873', '204_223', '203_755', '203_11', '204_218', '204_846', '203_589', '203_324', '203_639', '203_145', '203_656', '204_209', '204_420', '204_418', '203_746', '203_41', '204_202', '204_436', '204_196', '204_727', '202_179', '200_3', '204_465', '203_314', '204_494', '202_29', '204_970', '204_192', '202_197', '203_762', '203_670', '203_18', '203_758', '203_303', '203_89', '204_113', '203_384', '203_687', '204_124', '204_909', '202_279', '204_933', '204_771', '203_700', '204_548', '203_290', '204_586', '203_657', '203_548', '202_294', '203_791', '201_34', '200_4', '204_562', '202_196', '204_370', '203_215', '203_847', '204_335', '204_297', '202_80', '204_433', '204_596', '204_951', '204_322', '203_437', '204_608', '204_801', '204_535', '203_51', '204_812', '204_448', '203_148', '204_670', '204_777', '204_898', '203_593', '203_636', '203_293', '203_296', '204_935', '204_72', '203_371', '204_544', '204_249', '203_781', '204_654', '204_889', '204_947', '204_843', '204_766', '202_87', '204_339', '204_400', '203_212', '202_7', '204_236', '203_295', '203_804', '204_127', '203_803', '204_735', '204_762', '203_366', '204_547', '204_905', '203_196', '202_262', '204_215', '203_586', '204_542', '204_253', '203_692', '203_408', '204_197', '203_163', '203_44', '204_114', '204_709', '203_43', '204_129', '204_413', '204_529', '204_994', '203_541', '203_17', '203_346', '201_42', '204_991', '204_990', '203_279', '204_287', '204_42', '203_568', '203_229', '203_363', '203_459', '203_572', '204_538', '203_201', '204_208', '204_948', '203_810', '203_737', '202_224', '202_257', '203_521', '204_511', '204_445', '203_52', '203_705', '204_550', '204_95', '204_618', '203_287', '203_522', '203_233', '204_686', '204_800', '204_688', '204_652', '204_115', '204_576', '204_461', '204_266', '203_613', '204_646', '204_313', '203_399', '203_306', '202_285', '203_379', '204_914', '204_816', '203_598', '204_718', '203_172', '204_318', '204_298', '201_39', '204_546', '203_9', '204_549', '204_122', '203_446', '203_677', '204_357', '204_633', '203_653', '204_795', '203_95', '204_731', '204_638', '203_569', '204_605', '203_414', '202_74', '204_506', '204_394', '203_113', '204_327', '203_27', '203_109', '203_245', '201_7', '204_571', '204_870', '203_512', '204_137', '204_662', '203_868', '204_480', '204_22', '203_470', '204_742', '203_36', '203_592', '204_770', '204_567', '204_144', '204_789', '203_445', '204_836', '204_378', '204_405', '204_733', '203_607', '204_661', '203_189', '203_685', '204_504', '203_164', '204_597', '203_731', '204_868', '203_107', '204_986', '204_788', '204_174', '203_696', '204_598', '203_341', '202_161', '204_700', '204_748', '203_291', '204_36', '204_27', '204_351', '204_427', '203_223', '204_58', '203_244', '203_504', '203_251', '203_591', '203_25', '203_452', '204_62', '203_799', '203_121', '204_373', '204_431', '203_531', '204_212', '203_808', '204_962', '203_523', '204_270', '203_616', '203_272', '204_356', '204_750', '203_28', '204_492', '204_665', '204_344', '203_824', '204_93', '203_177', '204_362', '204_954', '200_44', '204_155', '204_612', '204_593', '203_4', '204_829', '203_241', '203_387', '204_300', '203_430', '204_561', '204_882', '204_957', '204_922', '203_57', '203_137', '204_99', '203_577', '203_190', '203_179', '204_980', '204_173', '203_94', '204_679', '204_429', '203_818', '203_570', '203_267', '204_747', '204_399', '204_753', '203_723', '203_152', '203_187', '204_927', '204_822', '204_641', '202_192', '204_723', '203_358', '203_782', '202_122', '204_325', '203_694', '204_577', '204_457', '203_645', '203_409', '204_217', '203_207', '204_926', '204_984', '204_585', '204_587', '203_646', '203_704', '203_268', '204_655', '204_160', '204_622', '204_729', '203_494', '204_613', '203_410', '204_858', '203_312', '203_325', '204_419', '204_10', '204_309', '204_87', '203_823', '204_842', '203_77', '203_663', '203_827', '202_265', '203_417', '204_937', '204_570', '204_574', '200_0', '203_697', '204_617', '204_851', '204_358', '204_632', '204_98', '204_258', '203_168', '203_826', '204_330', '204_135', '203_550', '203_753', '203_462', '204_833', '204_759', '204_798', '204_689', '203_844', '204_749', '203_850', '204_869', '204_64', '204_48', '203_557', '203_584', '203_761', '203_715', '204_606', '202_50', '201_24', '203_220', '203_367', '204_415', '204_408', '204_507', '203_198', '204_245', '203_730', '204_907', '204_376', '204_581', '204_398', '203_727', '204_726', '203_348', '204_787', '204_493', '203_438', '204_831', '203_40', '203_671', '203_425', '203_131', '200_41', '204_520', '204_140', '203_338', '204_495', '204_899', '204_126', '204_246', '203_752', '203_350', '201_29', '204_291', '203_298', '203_754', '203_336', '204_956', '203_228', '200_26', '203_74', '203_157', '204_422', '203_562', '204_467', '203_150', '204_583', '204_221', '203_726', '203_828', '202_118', '200_30', '203_838', '200_10', '203_807', '203_600', '202_184', '203_527', '203_274', '203_60', '203_742', '203_676', '204_887', '202_236', '204_958', '204_29'}
Number of matching tables between Squall dataset and train set 1284